# Lists, Tuples, Sets and Dictionaries

## 1) List

In [ ]:
#List - ordered sequence of elements, always uses [] to represent the list. Each item is seperated by ,.

food = ["pizza","burger","rice", "noodles"]
print(food)

['pizza', 'burger', 'rice', 'noodles']

In [ ]:
print(food[0])

pizza

In [ ]:
# to add element in list
food.append("cake")
print(food)

['pizza', 'burger', 'rice', 'noodles', 'cake']

In [ ]:
food.append("sandwhich")
print(food)

['pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich']

In [ ]:
food.extend(["sandwhich","pasta"])
print(food)

['pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich', 'sandwhich', 'pasta']

In [ ]:
food.extend(["sandwhich","pasta"])
food

['pizza',
 'burger',
 'rice',
 'noodles',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta']

In [ ]:
print(food*2)

['pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich', 'sandwhich', 'pasta', 'sandwhich', 'pasta', 'pizza', 'burger', 'rice', 'noodles', 'cake', 'sandwhich', 'sandwhich', 'pasta', 'sandwhich', 'pasta']

In [ ]:
food + ["coffee","tea"]
food

['pizza',
 'burger',
 'rice',
 'noodles',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta']

In [ ]:
food = food + ["coffee","tea"]
food

['pizza',
 'burger',
 'rice',
 'noodles',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta',
 'coffee',
 'tea']

In [ ]:
food[1:3]

['burger', 'rice']

In [ ]:
food[3]= 'Sweet'
food

['pizza',
 'burger',
 'rice',
 'Sweet',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta',
 'coffee',
 'tea']

In [ ]:
food.index('cake')

4

In [ ]:
food.insert(3,'Paratha')
food

['pizza',
 'burger',
 'rice',
 'Paratha',
 'Sweet',
 'cake',
 'sandwhich',
 'sandwhich',
 'pasta',
 'sandwhich',
 'pasta',
 'coffee',
 'tea']

In [104]:
drinks = food.remove('tea')
print(drinks)

ValueError: ignored

In [105]:
onlyfood = food.remove('tea')
print(onlyfood)

ValueError: ignored

In [ ]:
xyz = food.remove("coffee")
print(xyz)

None

In [ ]:
print(food)

['pizza', 'burger', 'rice', 'Paratha', 'Sweet', 'cake', 'sandwhich', 'sandwhich', 'pasta', 'sandwhich', 'pasta']

In [ ]:
menu = ['pizza', 'burger', 'rice', 'noodles', 'icecream', 'juice']
print(menu)

['pizza', 'burger', 'rice', 'noodles', 'icecream', 'juice']

In [ ]:
print('initial menu', menu)
menu.reverse()
print('reversed menu', menu)
print(type(reversed(menu)))

initial menu ['pizza', 'burger', 'rice', 'noodles', 'icecream', 'juice']
reversed menu ['juice', 'icecream', 'noodles', 'rice', 'burger', 'pizza']
<class 'list_reverseiterator'>

In [ ]:
print('initial menu', menu)
menu.sort()
print('sorted menu',menu)

initial menu ['juice', 'icecream', 'noodles', 'rice', 'burger', 'pizza']
sorted menu ['burger', 'icecream', 'juice', 'noodles', 'pizza', 'rice']

In [ ]:
del menu[-2]
menu

In [ ]:
print(menu[2:4])

['juice', 'noodles']

In [106]:
menu.remove(['juice','noodles'])
print(menu)

ValueError: ignored

In [ ]:
print(menu)

['burger', 'icecream', 'juice', 'noodles', 'pizza', 'rice']

In [ ]:
menu.remove('juice')
print(menu)

In [ ]:
print(menu)

['burger', 'icecream', 'juice', 'noodles', 'pizza', 'rice']

In [47]:
menu.remove('icecream','noodles')
print(menu)

TypeError: ignored

In [48]:
menu_2 = ['pizza','burger', 'rice', 'noodles','icecream']
print(menu_2)

['pizza', 'burger', 'rice', 'noodles', 'icecream']

In [49]:
menu_2.pop()

'icecream'

In [50]:
menu_2.clear()
print(menu_2)

[]



```
# This is formatted as code
```

## 2) Tuples

In [51]:
# Tuples - same as list, both contains sequence of items, mixed data types, and it contains individual elements also it is
# immutable, it represents by ().

empty = ()
print("empty tuple",empty)

empty tuple ()

In [52]:
# to create int tuple
int = (2,1,3,4,5)
print(int)

(2, 1, 3, 4, 5)

In [53]:
#mix tuple
mix = (4,"Python",4.2)
print(mix)

(4, 'Python', 4.2)

In [54]:
# nested tuple
nested = ('python', ["int","data","float"], 100)
print(nested)

('python', ['int', 'data', 'float'], 100)

In [55]:
str1 = "Python Prog",
print(str1)

('Python Prog',)

In [56]:
Country = ("USA", "China", "Philippine", "India")
print(Country)

('USA', 'China', 'Philippine', 'India')

In [107]:
Country[2]="Singapore"
print(Country)

TypeError: ignored

In [108]:
del Country[1]

TypeError: ignored

In [59]:
Country + ("Singapore","Japan")
print(Country)
Country1 = Country + ("Singapore","Japan")
print(Country1)

('USA', 'China', 'Philippine', 'India')
('USA', 'China', 'Philippine', 'India', 'Singapore', 'Japan')

In [60]:
Country1.count('China')

1

In [61]:
ex1 = ('a','p','y','t','h','o','n','a','y')
print(ex1.count('a'))

2

In [62]:
print(ex1.index('y'))

2

In [63]:
# to check an item available in tuple or not
print("Australia" in Country1)

False

In [64]:
print("Singapore" in Country1)

True

In [65]:
del Country1

In [109]:
print(Country1)

NameError: ignored

## 3. Sets

In [67]:
# Sets - collection of items which are not in order
# but we cannot change the items in set but we can the add or remove
# Elements cannot be duplicated
# also there is no indexing or slicing
# useig {}, Union, Intersections, difference

In [68]:
temp = [['Mary',101,26],
        ['Alex',102,27]]
print(temp)

[['Mary', 101, 26], ['Alex', 102, 27]]

In [70]:
countries = {'USA', 'China', 'Philippine', 'India', 'Singapore', 'Japan'}
print(countries)
print(type(countries))

{'India', 'Philippine', 'USA', 'China', 'Japan', 'Singapore'}
<class 'set'>

In [ ]:
print(len(countries))

In [69]:
# adding an element
countries.add("Germany")
print(countries)

NameError: ignored

In [71]:
#deleting the element
countries.discard("Germany")
print(countries)

{'India', 'Philippine', 'USA', 'China', 'Japan', 'Singapore'}

In [72]:
# Other Sets Operations
country_1 = {'USA', 'China', 'India', 'Japan', 'Singapore', 'Philippine'}
country_2 = {"India",'Singapore','Germany','Indonesia'}
Setof_Country= country_1.union(country_2)
print(Setof_Country)

{'Germany', 'Philippine', 'USA', 'Japan', 'Singapore', 'Indonesia', 'China', 'India'}

In [74]:
print(country_1 | country_2)

{'Germany', 'Philippine', 'USA', 'Japan', 'Singapore', 'Indonesia', 'China', 'India'}

In [73]:
# intersection
print(country_1.intersection(country_2))

{'India', 'Singapore'}

In [76]:
print(country_1 & country_2)

{'India', 'Singapore'}

In [75]:
print(country_2.difference(country_1))
print(country_1.difference(country_2))

{'Germany', 'Indonesia'}
{'China', 'Japan', 'Philippine', 'USA'}

In [80]:
set_ex = {11,22,67,54}
output_set = 78 in set_ex
print(output_set)

False

In [81]:
output_set = 78 not in set_ex
print(output_set)

True

In [77]:
# Updating the set
country_2 = {"India",'Singapore','Germany','Indonesia'}
update_set = {'Africa','Malaysia','India'}
country_2.update(update_set)
print(country_2)

{'Germany', 'Indonesia', 'Africa', 'India', 'Malaysia', 'Singapore'}

In [78]:
country_2.clear()
print(country_2)

set()

## 4) Dictionary

In [86]:
# Dictionary - collection of elements, keys and values pair, key and value are separated by :.
# it is mutable and unordered,
# if we want to access the elements then we use key

In [87]:
emp_dict = {'Name':'john','age':25,'Dept':'sales'}
print(emp_dict)

{'Name': 'john', 'age': 25, 'Dept': 'sales'}

In [88]:
emp_dict = {'Name':'john','age':25,'Dept':'sales'}
print(emp_dict)

{'Name': 'john', 'age': 25, 'Dept': 'sales'}

In [89]:
emp_dict['age']=29
print(emp_dict['age'])

29

In [90]:
print(len(emp_dict))

3

In [ ]:
key = emp_dict.keys()
print(key)

In [93]:
emp_dict

{'Name': 'john', 'age': 25, 'Dept': 'HR'}

In [92]:
emp_dict = {'Name':'john','age':25,'Dept':'sales','Dept': 'HR'}
print(emp_dict)

{'Name': 'john', 'age': 25, 'Dept': 'HR'}

In [94]:
print(type(emp_dict))

<class 'dict'>

In [95]:
emp = dict(name='Mary',age=25,id=101)
print(emp)

{'name': 'Mary', 'age': 25, 'id': 101}

In [96]:
v = emp.values()
print(v)
print(emp.items())
print()

dict_values(['Mary', 25, 101])
dict_items([('name', 'Mary'), ('age', 25), ('id', 101)])

In [97]:
# Nested Dictionary

Company = {'emp1':{'name':'Daniel','year':2018},
           'emp2':{'name':'Jimmy','year':2020},
           'emp3':{'name':'John','year':2022}}
print(Company)

{'emp1': {'name': 'Daniel', 'year': 2018}, 'emp2': {'name': 'Jimmy', 'year': 2020}, 'emp3': {'name': 'John', 'year': 2022}}

In [98]:
del emp['age']
print(emp)

{'name': 'Mary', 'id': 101}

In [99]:
print(emp.pop('id'))

101

In [100]:
emp.clear()

In [103]:
del emp
print(emp)

NameError: ignored

In [102]:
empName = Company['emp1']['name']
print(empName)

Daniel